/* line 66, ../scss/core/_mixins.scss */
.wr__page-content, .pattern, .wr__mobnav,
.cf {
  *zoom: 1;
}
/* line 38, ../../../../../../gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wr__page-content:after, .pattern:after, .wr__mobnav:after,
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, ../scss/wrapper.scss */
html {
  font-family: "Thesans-Semi-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  border-top: 3px solid #BC0031;
}

/* line 16, ../scss/wrapper.scss */
.wr {
  background: #fff;
}

/* line 20, ../scss/wrapper.scss */
.wr__page-content {
  position: relative;
  margin-left: 0;
  padding: 100px 30px 30px 30px ;
  padding: 6.25rem 1.875rem 1.875rem 1.875rem ;
}
@media screen and (min-width: 1000px) {
  /* line 20, ../scss/wrapper.scss */
  .wr__page-content {
    margin-left: 245px ;
    margin-left: 15.3125rem ;
  }
}

/* line 30, ../scss/wrapper.scss */
.wr__header {
  width: 245px ;
  width: 15.3125rem ;
  position: relative;
}

/* line 35, ../scss/wrapper.scss */
.wr__logo,
.wr__nav {
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  z-index: 100;
  left: -245px ;
  left: -15.3125rem ;
  position: fixed;
  width: 245px ;
  width: 15.3125rem ;
}
@media screen and (min-width: 1000px) {
  /* line 35, ../scss/wrapper.scss */
  .wr__logo,
  .wr__nav {
    left: 0;
  }
}
/* line 45, ../scss/wrapper.scss */
.visible-header .wr__logo, .visible-header
.wr__nav {
  left: 0;
}

/* line 52, ../scss/wrapper.scss */
.wr__logo {
  border-top: 3px solid #bc0031;
  top: 0;
  height: 150px ;
  height: 9.375rem ;
  background: #EAEAEA;
  text-align: center;
}
/* line 58, ../scss/wrapper.scss */
.wr__logo img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 65, ../scss/wrapper.scss */
.wr__nav {
  top: 150px ;
  top: 9.375rem ;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  box-sizing: content-box;
  bottom: 0;
  background: #2E3137;
}
/* line 72, ../scss/wrapper.scss */
.wr__nav ul {
  margin: 0;
  padding: 0;
}
/* line 76, ../scss/wrapper.scss */
.wr__nav li {
  margin: 0;
}
/* line 79, ../scss/wrapper.scss */
.wr__nav li:before {
  display: none;
}
/* line 82, ../scss/wrapper.scss */
.wr__nav a {
  border-bottom: 1px solid #383838;
  padding: 12px 20px ;
  padding: 0.75rem 1.25rem ;
  font-size: 18px ;
  font-size: 1.125rem ;
  color: #fff;
  text-decoration: none;
  display: block;
}
/* line 89, ../scss/wrapper.scss */
.wr__nav a:hover {
  color: #90B4EE;
}

@media screen and (min-width: 800px) {
  /* line 95, ../scss/wrapper.scss */
  .wr__notes {
    width: 50%;
    float: left;
  }
}

/* line 101, ../scss/wrapper.scss */
.wr__notes__inner {
  padding: 12px ;
  padding: 0.75rem ;
  background: #ececec;
  margin-bottom: 1px;
}
/* line 105, ../scss/wrapper.scss */
.wr__notes__inner p {
  font-size: 14px ;
  font-size: 0.875rem ;
}
/* line 108, ../scss/wrapper.scss */
.wr__notes__inner p:last-of-type {
  margin-bottom: 0;
}

/* line 113, ../scss/wrapper.scss */
.wr__title {
  font-size: 16px ;
  font-size: 1rem ;
  font-family: "Thesans-Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 5px ;
  margin-bottom: 0.3125rem ;
}

/* line 119, ../scss/wrapper.scss */
.pattern {
  padding: 0px 0px 20px 0px ;
  padding: 0rem 0rem 1.25rem 0rem ;
  margin: 10px 0px 90px 0px ;
  margin: 0.625rem 0rem 5.625rem 0rem ;
}

/* line 125, ../scss/wrapper.scss */
.pattern__title {
  font-size: 20px ;
  font-size: 1.25rem ;
  font-family: "Thesans-Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 10px ;
  margin-bottom: 0.625rem ;
}

/* line 131, ../scss/wrapper.scss */
.wr__example__title {
  text-transform: uppercase;
  font-size: 14px ;
  font-size: 0.875rem ;
  font-family: "Thesans-Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  color: #bc0031;
}

/* line 138, ../scss/wrapper.scss */
.wr__example {
  margin-bottom: 20px ;
  margin-bottom: 1.25rem ;
}

/* line 142, ../scss/wrapper.scss */
.wr__mobnav {
  height: 60px ;
  height: 3.75rem ;
  background: #2E3137;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  position: relative;
  left: 0;
}
@media screen and (min-width: 1000px) {
  /* line 142, ../scss/wrapper.scss */
  .wr__mobnav {
    display: none;
  }
}
/* line 152, ../scss/wrapper.scss */
.visible-header .wr__mobnav {
  left: 245px ;
  left: 15.3125rem ;
}

/* line 157, ../scss/wrapper.scss */
.mini-logo {
  height: 45px ;
  height: 2.8125rem ;
  width: 45px ;
  width: 2.8125rem ;
  right: 15px ;
  right: 0.9375rem ;
  top: 7px ;
  top: 0.4375rem ;
  position: absolute;
}

/* line 165, ../scss/wrapper.scss */
.nav-launch {
  background: url("../images/menu-icon.png") no-repeat 0 0;
  position: absolute;
  top: 15px ;
  top: 0.9375rem ;
  left: 15px ;
  left: 0.9375rem ;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* line 175, ../scss/wrapper.scss */
.wr__dropdown {
  font-family: "Thesans-Semi-Light-Select", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  position: absolute;
  top: 30px ;
  top: 1.875rem ;
  right: 30px ;
  right: 1.875rem ;
  text-align: left;
  max-width: 260px ;
  max-width: 16.25rem ;
  width: 100%;
}
/* line 180, ../scss/wrapper.scss */
.wr__dropdown p {
  display: block;
  text-align: right;
  margin-bottom: 8px ;
  margin-bottom: 0.5rem ;
}

/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */
/* line 196, ../scss/wrapper.scss */
.wr__code {
  margin: 0 0 .5em 0;
}
@media screen and (min-width: 800px) {
  /* line 196, ../scss/wrapper.scss */
  .wr__code {
    width: 48%;
    float: left;
    margin-left: 2%;
  }
}

/* line 206, ../scss/wrapper.scss */
.wr__code__text {
  font-family: "Thesans-Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
  margin: 20px 0 5px 0;
}

/* line 211, ../scss/wrapper.scss */
pre[class*="language-"] {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  border-left: 3px solid #BC0031;
  overflow: visible;
  max-height: 30em;
}
@media screen and (max-width: 800px) {
  /* line 211, ../scss/wrapper.scss */
  pre[class*="language-"] {
    margin-top: 20px;
  }
}

/* line 225, ../scss/wrapper.scss */
code[class*="language"] {
  background-color: #F5F2F0;
  overflow: auto;
  position: relative;
  max-height: 29em;
  display: block;
  padding: 1em;
  width: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  color: #222;
  line-height: 1.5;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
}

/* line 245, ../scss/wrapper.scss */
.token {
  white-space: nowrap;
}

/* line 250, ../scss/wrapper.scss */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}

/* line 258, ../scss/wrapper.scss */
.token.punctuation {
  color: #5F6364;
}

/* line 262, ../scss/wrapper.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol {
  color: #c92c2c;
}

/* line 272, ../scss/wrapper.scss */
.token.selector,
.token.attr-name,
.token.string,
.token.function,
.token.builtin {
  color: #2f9c0a;
}

/* line 280, ../scss/wrapper.scss */
.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 288, ../scss/wrapper.scss */
.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}

/* line 295, ../scss/wrapper.scss */
.token.regex,
.token.important {
  color: #e90;
}

/* line 299, ../scss/wrapper.scss */
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 305, ../scss/wrapper.scss */
.token.important {
  font-weight: normal;
}

/* line 309, ../scss/wrapper.scss */
.token.entity {
  cursor: help;
}

/* line 313, ../scss/wrapper.scss */
.namespace {
  opacity: .7;
}

/* Plugin styles */
/* line 318, ../scss/wrapper.scss */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}

/* line 326, ../scss/wrapper.scss */
.page-banner,
.page-header {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

@media screen and (min-width: 769px) {
  /* line 335, ../scss/wrapper.scss */
  .page-banner {
    margin-bottom: 130px;
  }
}

/* line 341, ../scss/wrapper.scss */
.page-footer {
  background: #2E3137;
}
